.order-option-wrapper {
    border-left: none;
    background-color: transparent;
    margin-bottom: 0;
}

#hierarchy {
    border-left: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
}

#hierarchy ul {
    margin: 0;
}

#user-contributions {
    padding-top: 0.5em;
}

h2.inline {
    padding-top: 0.5em;
}

.research-guides {
    padding-left: 1em;
    margin-top: 0em;
}

.research-guides li {
    list-style: disc;
}
