.order-option-wrapper {
    border-left: none;
    background-color: transparent;
    margin-bottom: 0;
}

#hierarchy {
    border-left: none;
    padding: 0;
    background-color: transparent;
    margin: 1em 0 0 0;
}

#hierarchy ul {
    margin: 0 0 1em 0;
}

#hierarchy h1 {
    display: inline;
}

#hierarchy h1 + a {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
}

#hierarchy li:nth-child(3) {
    margin-left: 2em;
}

#hierarchy li:nth-child(4) {
    margin-left: 2.7em;
}

#hierarchy li:nth-child(5) {
    margin-left: 3.4em;
}

#hierarchy li:nth-child(6) {
    margin-left: 4.1em;
}

#user-contributions {
    padding-top: 0.5em;
}

h2.inline {
    padding-top: 0.5em;
}

.research-guides {
    padding-left: 1em;
    margin-top: 0em;
}

.research-guides li {
    list-style: disc;
}

#traces-through-time-collection .heading-container {
    border: 1px solid #ccc;
    padding: .5em 1em;
    background: #eee
}

#traces-through-time-collection .heading-container h3 {
    margin-bottom: .2em;
    display: inline-block
}

#traces-through-time-collection .heading-container h3 a.external {
    padding-right: 23px;
    background: url(/Content/images/external-link-icon.png) no-repeat right;
    background-size: 14px 14px
}

#traces-through-time-collection .heading-container p {
    margin: .2em 0 .5em
}

#traces-through-time-collection .indicator {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 1em
}

#traces-through-time-collection .indicator p {
    margin: 9px 18px 9px 0;
    display: inline-block;
    float: left;
    font-size: .8em
}

#traces-through-time-collection .indicator-outer-container {
    background: #eee;
    width: 48%;
    height: 26px;
    display: inline-block;
    float: right;
    padding: 8px
}

#traces-through-time-collection .indicator-inner-container {
    background: #fff;
    width: 95%;
    height: 16px;
    border: 5px solid #fff
}

#traces-through-time-collection .confidence-bar {
    background: #999;
    height: 16px
}

#traces-through-time-collection .content-container {
    border: 1px solid #ccc;
    border-top: 0;
    padding: .5em .5em .5em 1em;
    margin-bottom: 1em
}

#traces-through-time-collection .content-container ul {
    display: inline-block;
    margin: 0;
    font-size: .8em;
    color: #666
}

#traces-through-time-collection .content-container ul li {
    margin-bottom: .3em
}

#traces-through-time-collection .content-container ul a.smaller {
    font-size: .8em
}

#traces-through-time-collection .center {
    text-align: center
}

#traces-through-time-collection #show-all {
    cursor: pointer
}

#traces-through-time-collection .label {
    font-size: .5em;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    margin: 0 1em;
    background: #fce45c;
    color: #222;
    display: inline-block;
    padding: .2em .4em;
    vertical-align: middle
}

#traces-through-time-collection .highlight-heading {
    background-color: #fce45c;
    color: #222;
    padding: .5em;
    margin-top: 0 !important
}

#traces-through-time-collection .bounding-box {
    border: 1px solid #ccc;
    font-size: .8em;
    text-align: center
}

#traces-through-time-collection .bounding-box .caption {
    margin-left: .5em;
    color: #999
}

#traces-through-time-collection .secondary-field span {
    width: 10px;
    height: 10px;
    background-color: #2A5DB0;
    display: inline-block;
    margin-right: 7px
}

#traces-through-time-collection ul.key {
    margin: 2em 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .4em 0
}

#traces-through-time-collection ul.key li {
    font-size: .9em;
    text-align: left;
    display: inline-block;
    margin-right: 1.5em
}

#traces-through-time-collection ul li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 7px
}

#traces-through-time-collection ul li span.external {
    background-color: #AAA
}

#traces-through-time-collection ul li span.internal {
    background: #777;
    border-radius: 50%
}

@media only screen and (min-width: 768px) {
    #traces-through-time-collection .indicator-outer-container {
        width: 60%
    }

    #traces-through-time-collection .indicator-inner-container {
        width: 96%
    }

    #traces-through-time-collection .bounding-box {
        margin-top: 1em
    }
}

@media only screen and (min-width: 1024px) {
    #traces-through-time-collection .indicator-outer-container {
        width: 184px
    }

    #traces-through-time-collection .indicator-inner-container {
        width: 174px
    }

    #traces-through-time-collection .indicator {
        margin-top: 0;
    }
}

.js .new-user-banner {
    display: none;
}

.new-user-banner {
    background-color: rgb(250, 245, 171);
    padding: 1em 0;
    margin-bottom: 1em;
}

.new-user-banner p {
    margin: 0 0 0.5em 0;
}

.holds-link a {
    font-size: 0.9em;
}

#show-suggestion-form {
    text-align: right;
}

#suggest-a-correction-form {
    padding-bottom: 1em;
}

.found-an-error {
    padding: 1em;
    border: 1em solid #383838;
    margin-bottom: 1em;
}

.found-an-error .close-this {
    float: right;
}

.order-option-wrapper .expander-div {
    margin-bottom: -0.5em;
    border-top: 1px solid black;
}

.order-option-wrapper .expander-link {
    font-size: 0.9em;
    display: block;
    text-align: right;
    background-color: #ececec;
    background-image: url(http://discovery.nationalarchives.gov.uk/Content/images/menu-collapsed-small-dark.png);
}

.order-option-wrapper .expander-link.expanded {
    background-image: url(http://discovery.nationalarchives.gov.uk/Content/images/menu-expanded-small-dark.png);
}

.home-alert {
    background-color: #fff2ae;
    border-left: #FCE45C 4px solid;
    padding: 7px 32px 17px 32px;
    margin-bottom: 1.5em;
    box-shadow: 0 2px 5px #ddd;
}

.close-this .alert-content {
    padding-right: 30px;
}

.close-this a {
    float: right;
    margin-top: 20px;
    width: 24px;
    height: 24px;
}

.close-this img {
    width: 24px;
    height: 24px;
}

.holds-link a {
    width: auto;
    float: none;
}

body {
    background-color: #fff;
}

.separator-illusion {
    background-color: #fff;
}

.order-option-wrapper {
    border: 1px solid black;
}

.held-by th {
    font-weight: bold!important;
}

.held-by a {
    background-color: rgba(252, 228, 92, .5);
    color: black;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 4px;
    padding: 0.1em 0.3em;
}