.order-option-wrapper {
    border-left: none;
    background-color: transparent;
    margin-bottom: 0;
}

#hierarchy {
    border-left: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
}

#hierarchy ul {
    margin: 0;
}

#user-contributions {
    padding-top: 0.5em;
}

h2.inline {
    padding-top: 0.5em;
}

.research-guides {
    padding-left: 1em;
    margin-top: 0em;
}

.research-guides li {
    list-style: disc;
}

#traces-through-time-collection .heading-container {
    border: 1px solid #ccc;
    padding: .5em 1em;
    background: #eee
}

#traces-through-time-collection .heading-container h3 {
    margin-bottom: .2em;
    display: inline-block
}

#traces-through-time-collection .heading-container h3 a.external {
    padding-right: 23px;
    background: url(/Content/images/external-link-icon.png) no-repeat right;
    background-size: 14px 14px
}

#traces-through-time-collection .heading-container p {
    margin: .2em 0 .5em
}

#traces-through-time-collection .indicator {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 1em
}

#traces-through-time-collection .indicator p {
    margin: 9px 18px 9px 0;
    display: inline-block;
    float: left;
    font-size: .8em
}

#traces-through-time-collection .indicator-outer-container {
    background: #eee;
    width: 48%;
    height: 26px;
    display: inline-block;
    float: right;
    padding: 8px
}

#traces-through-time-collection .indicator-inner-container {
    background: #fff;
    width: 95%;
    height: 16px;
    border: 5px solid #fff
}

#traces-through-time-collection .confidence-bar {
    background: #999;
    height: 16px
}

#traces-through-time-collection .content-container {
    border: 1px solid #ccc;
    border-top: 0;
    padding: .5em .5em .5em 1em;
    margin-bottom: 1em
}

#traces-through-time-collection .content-container ul {
    display: inline-block;
    margin: 0;
    font-size: .8em;
    color: #666
}

#traces-through-time-collection .content-container ul li {
    margin-bottom: .3em
}

#traces-through-time-collection .content-container ul a.smaller {
    font-size: .8em
}

#traces-through-time-collection .center {
    text-align: center
}

#traces-through-time-collection #show-all {
    cursor: pointer
}

#traces-through-time-collection .label {
    font-size: .5em;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    margin: 0 1em;
    background: #fce45c;
    color: #222;
    display: inline-block;
    padding: .2em .4em;
    vertical-align: middle
}

#traces-through-time-collection .highlight-heading {
    background-color: #fce45c;
    color: #222;
    padding: .5em;
    margin-top: 0 !important
}

#traces-through-time-collection .bounding-box {
    border: 1px solid #ccc;
    font-size: .8em;
    text-align: center
}

#traces-through-time-collection .bounding-box .caption {
    margin-left: .5em;
    color: #999
}

#traces-through-time-collection .secondary-field span {
    width: 10px;
    height: 10px;
    background-color: #2A5DB0;
    display: inline-block;
    margin-right: 7px
}

#traces-through-time-collection ul.key {
    margin: 2em 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .4em 0
}

#traces-through-time-collection ul.key li {
    font-size: .9em;
    text-align: left;
    display: inline-block;
    margin-right: 1.5em
}

#traces-through-time-collection ul li span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 7px
}

#traces-through-time-collection ul li span.external {
    background-color: #AAA
}

#traces-through-time-collection ul li span.internal {
    background: #777;
    border-radius: 50%
}

@media only screen and (min-width: 768px) {
    #traces-through-time-collection .indicator-outer-container {
        width: 60%
    }

    #traces-through-time-collection .indicator-inner-container {
        width: 96%
    }

    #traces-through-time-collection .bounding-box {
        margin-top: 1em
    }
}

@media only screen and (min-width: 1024px) {
    #traces-through-time-collection .indicator-outer-container {
        width: 184px
    }

    #traces-through-time-collection .indicator-inner-container {
        width: 174px
    }

    #traces-through-time-collection .indicator {
        margin-top: 0;
    }
}

.js .new-user-banner {
    display: none;
}

.new-user-banner {
    background-color: #FCE45C;
    padding: 1em 0;
}

.new-user-banner p {
    margin: 0;
}

.holds-link a {
    font-size: 0.9em;
}